#content {
    width: 100%;
    margin: auto;
}

#appContainer {
    width: 100%;
    max-width: 200em;
    margin: auto;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #0079b2;
}

h1 {
    font-weight: 300;
    color: white;
}

.col {
    background-color: white;

    margin-top: 0.5em;
    margin-bottom: 1em;

    border-width: 0;
    border-radius: 5px;
}

.left {
    float: left;
    width: 59%;
}

.right {
    float: right;
    width: 40%;
}

textarea#input {
    margin: auto;
    padding: 0.5em;
    width: calc(100% - 5px);
    height: 80vh;

    font-family: 'Fira Mono', mono;
    font-size: 10pt;

    border-width: 0;
    border-top-left-radius: 5px;
}

#fileUploader {
  display: none;
}

div.button {
  line-height: 2.8em;
  text-align: center;
  background-color: darkslategray;
  color: white;
  font-weight: 500;
  transition-duration: 0.3s
}

div.clickable:hover {
  background-color: cornflowerblue;
  cursor: pointer;
  transition-duration: 0.2s;
}


.resultItem {
  margin: 0.5em 0em;
}

.featureName {
  float: left;
}

.featureValue {
  float: right;
}

.clear {
  clear: both;
}

#helpButton {
  text-align: left;
  padding-left: .5em;
  width: 8em;

  border-radius: 5px;
}

.helpActive {
  background-color: white;
  font-size: 14pt;
  width: 100%;
  height: 30%;
  margin-top: 0.5em;
  border-radius: 5px;
  overflow-y: scroll;
  transition-duration: 0.2s;
}

.helpInactive {
  width: 0px;
  height: 0px;
  transition-duration: 0.2s;
  overflow: hidden;
}
