#result {
    margin: 0em; .2em;
    padding: 0.1em 0.7em;;
    background-color: #cccccc;

    font-family: sans-serif;
    font-size: 16
}

#content {
    width: 90%;
}

#input {
    margin: auto;
    width: calc(100% - 5px);
    font-family: mono;
    font-size: 12;
}

#controls {
    margin: 1em;
}

.left-col {
    margin-top: 2em;
    float: left;
    width: 59%;
}

.right-col {
    margin-top: 2em;
    float: right;
    width: 40%;
}
